<section class = "info">
  <h1>All Shelters</h1>

  <%= link_to "Sort Shelters By Adoptable Pets", "?sort=adoptable" %> |
  <%= link_to "Sort Shelters Alphabetically", "?sort=alphabetical" %> <br  />
  <br  />

  <%= link_to "New Shelter", "/shelters/new" %>
  <% @shelters.each do |shelter| %>

    <section class = "shelter">
      <h2 class = "char">&#x2302; <%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h2>
      <a href="/shelters/<%= shelter.id  %>/edit">Edit</a> |
      <%= link_to "Delete", "/shelters/#{shelter.id}/", method: "delete", id: "shelter-#{shelter.id}"%>
    </section>

  <% end %>
  <br />
  <br />
  <section class="highest-rated">
    <h2>Top 3 Rated Shelters</h2>
    <% @highest_rated.each do |shelter| %>
      <p><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></p>
    <% end %>
  </section>
</section>
