<section class = "info">

  <h1><%= @shelter.name %></h1>

  <p>Address: <%= @shelter.address %></p>
  <p>City: <%= @shelter.city %></p>
  <p>State: <%= @shelter.state %></p>
  <p>Zip: <%= @shelter.zip %></p>
  <% @shelter.shelter_reviews.each do  |review| %>
    <section id="shelter-review-<%= review.id %>">
      <p>Title: <%= review.title %></p>
      <p>Rating: <%= review.rating %></p>
      <p>Content: <%= review.content %></p>
      <p>Picture: <%= image_tag review.picture if !review.picture.nil? %></p>
      <%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", method: :delete %>
    </section>
    <% end %>
  <%= link_to "Add Review", "/shelter_reviews/#{@shelter.id}/new" %>
  <%= link_to "View Pets", "#{@shelter.id}/pets" %> |
  <%= link_to "Update Shelter", "#{@shelter.id}/edit" %> |
  <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}/", method: "delete", id: "shelter-#{@shelter.id}"%>
</section>
