<section class = "info">

<h1>Favorites</h1>
  <% if favorite.total_count == 0 %>
  I have no favorited pets
  <% end %>

  <% flash.each do |type, message| %>
    <section class=<%= type %>>
      <p><%= message %></p>
    </section>
  <% end %>

  <% if favorite.total_count > 0 %>
    <%= link_to "Remove all pets", "/favorites", method: :delete %>
  <% end %>

  <section class = "all-pets">
  <% if defined?(@pets) %>

    <% @pets.each do |pet| %>
    <section id = "favorite-<%= "#{pet.id}" %>" class = "pet-info">
      <%= link_to "Remove From Favorites", "/favorites/#{pet.id}", method: :delete %>
      <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <%= image_tag "#{pet.image}" %>
    </section>
    <% end %>

  <% end %>
  </section>

</section>
