<section class = "info">

  <h1>Favorites</h1>
  <% flash.each do |type, message| %>
    <section class=<%= type %>>
      <p><%= message %></p>
    </section>
  <% end %>
  <section class = "all-pets">
    <% @pets.each do |pet| %>
    <section class = "pet-info">
      <%= link_to "*", "/favorites/#{pet.id}", method: :delete, id: "favorite-#{pet.id}" %>
      <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <%= image_tag "#{pet.image}" %>
      <p>Age:</p>
      <p><%= pet.approx_age %> Years (Approx.)</p>
      <p>Sex: </p>
      <p><%= pet.sex %></p>
      <p>Shelter:
      <p><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
    </section>
    <% end %>
  </section>

</section>