<section class = "info">
  <% flash.each do |type, message| %>
    <section class=<%= type %>>
      <p><%= message %></p>
    </section>
  <% end %>
  <section class = "all-pets">
    <section class = "pet-info-view">
      <section>
        <% if favorite.contents.include?(@pet.id.to_s) %>
          <%= link_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete %>
        <% else %>
          <%= link_to "*", "/favorites/#{@pet.id}", method: :patch, id: "favorite-#{@pet.id}" %>
        <% end %>
      </section>
      <h1><%= @pet.name %></h1>
      <p><%= image_tag "#{@pet.image}" %></p>
      <p>Description: <%= @pet.description %></p>
      <p>Age: <%= @pet.approx_age %> Years (Approx.)</p>
      <p>Sex: <%= @pet.sex %></p>
      <p>Status: <%= @pet.status %></p>

      <%= link_to @status_link[:name], "#{@status_link[:path]}", method: "patch"  %> |
      <%= link_to "Edit", "/pets/#{@pet.id}/edit" %> |
      <%= link_to "Delete", "/pets/#{@pet.id}/", method: "delete"%>
    </section>
  </section>
</section>
