<section class = "info">

  <section class = "all-pets">

    <section class = "pet-info-view">

      <section id = "favorite-<%= "#{@pet.id}" %>">
        <% if favorite.contents.include?(@pet.id.to_s) %>
          <%= link_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete %>
        <% else %>
          <%= link_to "Add To Favorites", "/favorites/#{@pet.id}", method: :patch %>
        <% end %>
      </section>

      <h1><%= @pet.name %></h1>
      <p><%= image_tag "#{@pet.image}" %></p>
      <p><strong>Description: </strong><%= @pet.description %></p>
      <p><strong>Age: </strong><%= @pet.approx_age %> Years (Approx.)</p>
      <p><strong>Sex: </strong><%= @pet.sex %></p>
      <p><strong>Status: </strong><%= @pet.status %></p>
      <p><strong>Notes: </strong><%= @pet.notes %></p>

      <p><%= link_to "Applications", "/pets/#{@pet.id}/apps" %></p>
      <%= link_to @status_link[:name], "#{@status_link[:path]}", method: "patch"  %> |
      <section id = "pet-<%= "#{@pet.id}" %>">
        <%= link_to "Edit", "/pets/#{@pet.id}/edit" %> |
        <%= link_to "Delete", "/pets/#{@pet.id}/", method: "delete"%>
      </section>
    </section>

  </section>

</section>
