<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Don't Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('site/pokeball.png') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <header>
        <nav>
          <a href="/">Home</a>
          <a href="/shelters">Shelters</a>
          <a href="/pets">Pets</a>
          <a href="/favorites">Favorites (<%= favorite.total_count %>)</a>
        </nav>
    </header>

    <% flash.each do |type, message| %>
    <section class='info' >
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    </section>
    <% end %>
    <%= yield %>
  </body>
</html>
